@tailwind base;
@tailwind components;
@tailwind utilities;

// Import font
@import './fonts.scss';

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --ms-tag-bg: #4E9F3D!important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.8);
	background-color: #474444;
}

.btn-primary {
    @apply flex w-full items-center justify-center rounded-md border border-transparent bg-primary text-white px-8 py-3 text-base font-medium hover:bg-secondary hover:text-white md:py-3 md:px-10 md:text-lg;
}

.btn-grey {
    @apply w-52 items-center justify-center rounded-md border border-transparent bg-gray-400 px-8 py-3 text-base font-medium text-white hover:bg-secondary hover:text-white md:py-3 md:px-10 md:text-lg transition duration-300;
}

.btn-black {
    @apply flex w-full justify-center rounded-md border border-transparent bg-dark py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-secondary cursor-pointer;
}

.btn-green {
    @apply rounded-md border border-transparent bg-primary text-white px-8 py-3 text-base font-medium hover:bg-secondary hover:text-white md:py-3 md:px-10 md:text-lg w-80 transition duration-300;
}

.btn-outline-green {
    @apply rounded-md border border-transparent bg-transparent border-primary text-primary px-8 py-3 text-base font-medium hover:bg-secondary hover:border-secondary hover:text-white md:py-3 md:px-10 md:text-lg w-80 transition duration-300;
}

.one-page {
    height: calc(100vh - 3.8rem);
}

.btn-delete {
    @apply rounded-md border border-transparent bg-red-500 text-white px-8 py-1 text-base font-medium hover:bg-red-600 hover:text-white md:py-1 md:px-6 md:text-lg transition duration-300;
}

.btn-add {
    @apply rounded-md border border-transparent bg-primary text-white px-8 py-1 text-base font-medium hover:bg-secondary hover:text-white md:py-1 md:px-6 md:text-lg transition duration-300;
}

.card-box {
    @apply w-[50px] h-[75px];
}
